@tailwind base;
@tailwind components;
@tailwind utilities;

.mdc-button,
.mdc-stroked-button,
.mdc-flat-button,
.raised-button {
  border-radius: 0.375rem !important; /* Equivalent to rounded-md */
}

.container {
  @apply mx-auto max-w-screen-2xl
}


.text-primary {
  color: #7d00fa;
}

button.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}
